<!DOCTYPE html>
<html lang="en">

	<head>
		<title>{% block 'title' %} Welcome to Celeste's Portfolio {% endblock %}</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<!-- Custom css -->
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'casestudy/styles.css' %}" />

		<!-- Custom Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Julee|Molle:400italic|Meie+Script' rel='stylesheet' type='text/css'>

	</head>

	<body>

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class"navbar-header">
					<a class="navbar-brand" href="{% url 'casestudy:index' %}">Celeste Carter</a>
				</div>
				<div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Skills</a></li>
						<li><a href="#">Goals</a></li>
						<li><a href="#">Education</a></li>
						<li><a href="#">Personal Interests</a></li>
						<li><a href="#">Other</a></li>
					</ul>
				</div>
				</div> <!-- container-fluid -->
			</div>
		</nav>

	{% block 'content' %}
		<h1>Welcome to Celeste's Portfolio Site</h1>
        <p>We hope you enjoy some nice quality time with us today.</p>
	{% endblock %}
	</body>
</html>
