body {
	font-family: 'Bitter', serif;
	/*background: url(img/gold_marble.jpg) no-repeat center center fixed; */
	font-size: 20px;
}

.navbar-brand {
	font-family: 'Molle', cursive;
}

a {
}

.details img {
	width: 400px;
	height: 400px;
	overflow: hidden;
	float: left;
}

.details p {
	font-size: 25px;
}
